* {
	box-sizing: border-box;
}

body {
	background: url('../images/opd_bg.jpg') no-repeat center fixed;
	background-size: cover;
}

.navbar-default {
    background-image: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
	min-height:100px !important;
}

.navbar,
h1, 
p {
	font-family: 'Montserrat', sans-serif;
}

.page-header {
	margin-top: 0;
}

h3,
h2 {
	margin-top: 10px;
	font-family: 'Oswald';
}

h2 {
	color: rgba(0,109,90,1);
}

#myNavbar {
	height: 100%;
}

a.navbar-brand > img[alt="tagline"] {
  height: 100%;
  width: auto;
}

.navbar-brand{
  height: 100px;
  width: auto;
}

/* customized height of navbar */
.navbar-nav > li > a,
.navbar-form {
	padding-top:40px !important; 
	padding-bottom:40px !important;
}

.dropdown-menu {
	min-width: 200px;
  	background-color: rgba(0,115,115,0.9);
}

.dropdown-menu > li > a {
  	color: #eef9fa;
}

.dropdown-menu > li > a:hover,
.dropdown-menu>li>a:focus {
	background-image: none;
  	background-color: rgba(0,109,100,0.3);
  	color: lightgray;
 }

.navbar-nav li.dropdown.open > .dropdown-toggle,
.navbar-nav li.dropdown.active > .dropdown-toggle,
.navbar-nav li.dropdown.open.active > .dropdown-toggle {
  	background: transparent;
  	box-shadow: none;
  	color: #eef9fa;
}

main {
	width: 70%;
}

.carousel {
	width: 100%;
}

.trans-bg {
	margin: 20px 0;
	padding: 10px 10px;
	border-radius: 1%;
	background-color: rgba(14,0,102,0.1);
	min-height: 200px;
}

.trans-bg li a {
	text-decoration: none;
	color: #223b3b;
	font-family: 'Oswald';
}

.trans-bg li a:hover {
	text-decoration: none;
	color: #edf6f6;
}

figure {
	margin-top: 15px;
}

figure > p {
	margin-top: 10px;
	text-align: center; 
}

video {
	width: 100%;
	margin-top: 20px;
}

#mapfirst,
#mapsecond {
	min-width: auto;
	height: 200px;
	background-color: gray;
	border: 1px solid white;
	margin-top: 10px;
}

footer {
	color: gray;
	margin-bottom: 10px;
	font-size: 12px;
}

#mainContact,
#mainProducts {
	width: 80%;
}

.branches {
	/*margin-top: 70px;*/
	height: 100%;
}

img[alt*="bag tag"],
img[alt*="calling cards"] {
	border: 1px solid skyblue;
	width: 100%;
}

.specs {
	margin-top: 20px;
}

.bghighlight {
	padding: 20px;
	background-color: rgba(14,0,102,0.3);
	color: #edf6f6;
}	

.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}